%poppins-200 {
  font: {
    family: poppins, sans-serif;
    weight: 200;
  }
}

%poppins-400 {
  font: {
    family: poppins, sans-serif;
    weight: 400;
  }
}

%poppins-600 {
  font: {
    family: poppins, sans-serif;
    weight: 600;
  }
}
